@font-face {
    font-family: 'Sen';
    src: local('Sen'), url('./assets/fonts/Sen/Sen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sen-Bold';
    src: local('Sen-Bold'), url('./assets/fonts/Sen/Sen-Bold.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-size: 65%;
    font-family: Sen, sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
    font-family: Sen, sans-serif;
    background-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
